.main{
    text-align: center;
}



.pick_wrapper-title{
    display: flex;
    flex-direction:column;
    gap: 12px;
}
.pick_wrapper-amount{
    margin-top: 12px;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 43px;

}
.card_title{
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--Black, #222122);
    font-feature-settings: 'clig' off, 'liga' off;
    
    /* Body 15/Regular */
    font-family: Rubik;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 133.333% */
}
.pick_wrapper-total{
    position: fixed;
    bottom: 12%;
    left: 0;
    z-index: 1;
    width: 100%;
    padding: 23px 20px 24px 20px;
}
.pick_card_details_icon{
    cursor: pointer;
}
.pick_wrapper-total__sub, .pick_wrapper-total__main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pick_wrapper-total__sub{
    color: var(--grey-800, #4E4D4E);
font-feature-settings: 'clig' off, 'liga' off;

/* Body 15/Regular */
font-family: Rubik;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 133.333% */
margin-bottom: 12px;

}
.pick_wrapper-total__sub-title_item{
    color: var(--blue-500, #7161EF);
font-feature-settings: 'clig' off, 'liga' off;
/* Body 15/Regular */
font-family: Rubik;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 20px;
cursor: pointer;
}
.pick_wrapper-total__main{
    color: #222122;

font-feature-settings: 'clig' off, 'liga' off;
/* Body 17/Medium */
font-family: Rubik;
font-size: 17px;
font-style: normal;
font-weight: 500;
line-height: 20px;
}
.card_subtitle{
    color: var(--grey-500, #C1C3C3);
font-feature-settings: 'clig' off, 'liga' off;
font-family: Rubik;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 16.8px */
}
.card_items{
    margin-bottom: 8px;

}
.details {
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--grey-700, #838687);
text-align: right;
font-feature-settings: 'clig' off, 'liga' off;

/* Button/Extra Small */
font-family: Rubik;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 15px; /* 125% */
}

.amount {
    color: var(--grey-800, #4E4D4E);
font-feature-settings: 'clig' off, 'liga' off;
/* Subtitle 2/Regular */
font-family: Rubik;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 140%;
}