.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.app-icon{
  margin: 16px 0 20px 0;
}

.wrapper{
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}

.progress{
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }

    .active{
        background: #209C75;

    }

    .not_active{
        background: #BCE3D7;
    }



    