
.trirong{
    color:blue;
    font-weight: 600;
font-family: Trirong, serif;

  
  
  }

  .rubik{
    color:red;
    font-weight: 400;
    font-family: Rubik, sans-serif;
  
  }

//   $sm: 576px;
//   $md: 768px;
//   $lg: 992px;
//   $xl: 1200px;
//   @media only screen and (min-width: $sm) {
//     .container {
//         .max-width: 450px;
//     }
// }
// @media only screen and (min-width: $md) {
//     .container {
//         .max-width: 650px;
//     }
// }
// @media only screen and (min-width: $lg) {
//     .container {
//         .max-width: 900px;
//     }
// }
// @media only screen and (min-width: $xl) {
//     .container {
//         .max-width: 1000px;
//     }
// }
.wrapper{
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}

.progress{
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }

    .active{
        background: #209C75;

    }

    .not_active{
        background: #BCE3D7;
    }