.success{
    text-align: center;
}
.success_wrapper-title{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.logo{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background:  #72C2A9;
    border: 1px solid  #FFF;
    border-radius: 8px;
}

.icon{
    width: 32px;
    height: 32px;
}

