.main{
    text-align: center;
}
.logo{
    display: flex;
    justify-content: center;
    width: 48px;
height: 48px;
border-radius: 8px;
border: 1px solid var(--White, #FFF);
background: var(--green-300, #72C2A9);
}
.icon{
    width: 32px;
height: 32px;
}
.btn{
    padding: 20px 24px;
    position: fixed;
    width: 100%;
    z-index: 1;
    left: 0;
    bottom: 0;
}