.main{
    text-align: center;
}

.logo{
    display: flex;
    justify-content: center;
    width: 48px;
    height: 48px;
    background:  #72C2A9;
    border: 1px solid  #FFF;
    border-radius: 8px;
}

.icon{
    width: 32px;
    height: 32px;
}

.btn{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    padding: 20px 24px;
}