.error{
    text-align:center;
}

.logo_error{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background:  #F07D8C;
    border: 1px solid #FFF;
    border-radius: 8px;
}




.error_wrapper-title{
    display: flex;
    flex-direction: column;
    gap: 12px;
}