.main{
    text-align: center;
}

.logo_error{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background:  #F07D8C;
    border: 1px solid #FFF;
    border-radius: 8px;
}

.btn{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    padding: 20px 24px;
}