.main{
    text-align: center;
}
.logo_error{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
height: 48px;
border-radius: 8px;
border: 1px solid var(--White, #FFF);
background: var(--red-300, #F07D8C);
}

.btn{
    padding: 20px 24px;
    position: fixed;
    width: 100%;
    z-index: 1;
    left: 0;
    bottom: 0;
}